<template>
    <div class="panel col-sm-4 align-item px-1 col-sm-12">
            <img :src="require(`../../../assets/images/${item.src}.jpg`)" alt="" />
            <a href="#">SET HOT</a>
            <span class="star"
              ><i class="far fa-star"></i>
              <i class="far fa-star">
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i> </i
            ></span>
            <h4>{{item.tien}}</h4>
            <div class="icon-smooth">
              <i class="far fa-eye eye"></i>
              <i class="far fa-heart heart"></i>
              <i class="fas fa-shopping-cart cart"></i>
            </div>
          </div>
</template>

<script>
export default {
    props:['item']
    ,created() {
        console.log(this.item)
    },
}
</script>