<template>
    <div class="panel col-sm-4 align-item px-1 col-sm-12">
            <img :src="require(`../../../assets/images/${item.src}.jpg`)" alt="" />
            <p>Thứ 6 Ngày 13</p>
            <h4>{{item.loading}}</h4>
            <span
              ><a href="#"
                ><i class="fas fa-box-open"></i> {{item.name}} </a
              ></span
            >
            <span
              ><a href="#"><i class="far fa-comments"></i> 7749 Bình Luận </a></span
            >
          </div>
</template>

<script>
export default {
    props:['item']
    ,created() {
        console.log(this.item)
    },
}
</script>