<template>
     <div
            class="
              follow
              panel
              col-sm-3
              align-item
              px-1
              col-sm-6 col-sm-12
              most
            "
          >
            <img :src="require(`../../../assets/images/${item.src}.jpg`)" alt="" />
            <div class="bg-red">
              <div class="red"></div>
              <div class="bg-red-icon"><i class="fas fa-camera-retro"></i></div>
            </div>
          </div>
</template>

<script>
export default {
    props:['item']
    ,created() {
        console.log(this.item)
    },
}
</script>