<template>
    <figure class="px-2">
      <div class="container">
        <div class="row flex">
          <div
            class="
              col-sm-3 col-sm-6 col-sm-12
              text-align
              px-1
              mg-1
              ani-to-right
            "
          >
            <div class="great">
              <i class="fas fa-dollar-sign"></i>
              <h4>HOÀN TIỀN</h4>
              <p>LOADING...</p>
            </div>
          </div>
          <div
            class="
              col-sm-3 col-sm-6 col-sm-12
              text-align
              px-1
              mg-1
              ani-to-right
            "
          >
            <div class="great">
              <i class="fas fa-truck"></i>
              <h4>MIỄN PHÍ GIAO HÀNG</h4>
              <p>LOADING...</p>
            </div>
          </div>
          <div
            class="col-sm-3 col-sm-6 col-sm-12 text-align px-1 mg-1 ani-to-left"
          >
            <div class="great">
              <i class="fas fa-headphones"></i>
              <h4>HỖ TRỢ</h4>
              <p>LOADING...</p>
            </div>
          </div>
          <div
            class="col-sm-3 col-sm-6 col-sm-12 text-align px-1 mg-1 ani-to-left"
          >
            <div class="great">
              <i class="fas fa-user-lock"></i>
              <h4>THANH TOÁN AN TOÀN</h4>
              <p>LOADING...</p>
            </div>
          </div>

          
        </div>
      </div>
    </figure>
</template>