<template>
    <div class="section-introduce sale">
      <div class="container">
        <div class="row flex center text-align">
          <div class="col-sm-6 col-sm-12">
            <div class="title">
              <h1 class="mg-bt">50% OFF</h1>
              <p class="mg-bt">BỘ SƯU TẬP NỮ</p>
              <button class="btn btn-red">MUA NGAY</button>
            </div>
          </div>
          <div class="col-sm-6 col-sm-12">
            <div class="image">
              <img src="../../assets/images/ban-2.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
</template>