<template>
    <div class="section-introduce">

      <div class="container">
        <div class="row flex center text-align">
          <div class="col-sm-6 col-sm-12">
            <div class="title">
              <p>BỘ SƯU TẬP TỐI ƯU</p>
              <h1 class="mg-bt">QUÁCH DUNG STORE</h1>
              <button class="btn btn-red">Mua Ngay</button>
            </div>
          </div>
          <div class="col-sm-6 col-sm-12">
            <div class="image">
              <img src="../../assets/images/ban-1.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
</template>