<template>
    <section class="journal px-2 text-align">
      <h2 class="swing wow">QUÁCH DUNG STORE</h2>
      <div class="container">
        <div class="row flex px-2">

          <PanelJour v-for="(item, index) in QuachDungStore" :item="item" :key="index"/>  

        </div>
      </div>
    </section>
</template>

<script>
import PanelJour from './components/PanelJour.vue'
export default {
  components:{
    PanelJour
  },
  data() {
    return {
      QuachDungStore:[
        {id:1,
          name:'Phụ Kiện 1',
          src:'1 (1)',
          loading:'View 1',
        },{id:2,
          name:'Phụ Kiện 2',   
          src:'2 (1)',
          loading:'View 2',
        },{id:3,
          name:'Phụ kiện 3',
          src:'3 (1)',
          loading:'View 3',
        }
      ]
    }
  },
}
</script>