<template>
    <section class="product px-2 text-align">
      <h2 class="swing wow">PHỔ BIẾN NHẤT</h2>
      <div class="container">
        <div class="row flex">
          <PanelCard v-for="(item, index) in TopPhoBien" :item="item" :key="index"/>         
        </div>
      </div>
    </section>
</template>

<script>
import PanelCard from './components/PanelCard.vue'
export default {
  components:{
    PanelCard
  },
  data() {
    return {
      TopPhoBien:[
        {id:1,
          ten:'Ví Cầm Tay Nữ',
          src:'4',
          tien:'$17'
        },{id:2,
          ten:'Balo Nữ',   
          src:'5',
          tien:'$18'
        },{id:3,
          ten:'Guốc Nữ',
          src:'6',
          tien:'$19'
        },{id:4,
          ten:'Kính Nữ',
          src:'7',
          tien:'$20'
        }
      ]
    }
  },
}
</script>