<template>
    <section class="product px-2 text-align">
      <h2 class="swing wow">SẢN PHẨM XU HƯỚNG</h2>
      <div class="container">
        <div class="row flex">

          <PanelCard v-for="(item, index) in sanPhamSuHuong" :item="item" :key="index" />
        </div>
      </div>
    </section>
</template>

<script>
import PanelCard from './components/PanelCard.vue'
export default {
  components:{
    PanelCard
  },
  data() {
    return {
      sanPhamSuHuong:[
        {
          id:1,
          ten:'TOP TRENDING',
          tien:'$17',
          src:'8'
        },
         {
          id:2,
          ten:'TOP TRENDING',
          tien:'$18',
          src:'9'
        },
         {
          id:3,
          ten:'TOP TRENDING',
          tien:'$19',
          src:'10'
        },
         {
          id:4,
          ten:'TOP TRENDING',
          tien:'$20',
          src:'11'
        },
         {
          id:5,
          ten:'TOP TRENDING',
          tien:'$21',
          src:'12'
        },
         {
          id:6,
          ten:'TOP TRENDING',
          tien:'$22',
          src:'13'
        },
         {
          id:7,
          ten:'TOP TRENDING',
          tien:'$23',
          src:'14'
        },
         {
          id:8,
          ten:'TOP TRENDING',
          tien:'$24',
          src:'15'
        }
      ]
    }
  },
}
</script>