<template>
    <section class="product px-2 text-align">
      <h2 class="swing wow">HOT VIEWS</h2>
      <div class="container">
        <div class="row flex"> 

          <PanelDemo v-for="(item, index) in HotDemo" :item="item" :key="index"/>
        </div>
      </div>
    </section>
</template>

<script>
import PanelDemo from './components/PanelDemo.vue'
export default {
  components:{
    PanelDemo
  },
  data() {
    return {
      HotDemo:[
        {
          id:1,
          src:'1 (2)'
        },
         {
          id:2,
          src:'2 (2)'
        },
         {
          id:3,
          src:'3 (2)'
        },
         {
          id:4,
          src:'4 (1)'
        },
      ]
    }
  },
}
</script>
