<template>
    <section class="product px-2 text-align">
      <h2 class="swing wow">SẢN PHẨM NỔI BẬT</h2>
      <div class="container">
        <div class="row flex">
          <PanelTop v-for="(item, index) in SanPhamNoiBat" :item="item" :key="index"/>
        </div>
      </div>
    </section>
</template>

<script>
import PanelTop from './components/PanelTop.vue'
export default {
  components:{
    PanelTop
  },
  data() {
    return {
      SanPhamNoiBat:[
        {
          id:1,
          src:'1',
          tien:'$117',
        },
         {
          id:2,
          src:'2',
          tien:'$118',
        },
         {
          id:3,
          src:'3',
          tien:'$119',
        },
      ]
    }
  },
}
</script>