<template>
    <div>
        <Introduce/>
        <Product2rd/>
        <IntroduceSale/>
        <Product/>
        <TopProduct/>
        <Product3rd/> 
        <Journal/>
        <Figure/>
        
    </div>
</template>
<script>
import Figure from './Home/Figure.vue'
import Introduce from './Home/Introduce.vue'
import IntroduceSale from './Home/IntroduceSale.vue'
import Journal from './Home/Journal.vue'
import Product from './Home/Product.vue'
import Product2rd from './Home/Product2rd.vue'
import TopProduct from './Home/TopProduct.vue'
import Product3rd from './Home/Product3rd.vue'

export default {
components:{Figure, Introduce, IntroduceSale, Journal, Product, Product2rd, TopProduct, Product3rd }
}
</script>
