<template>
<div>
    <Header/>
    <PageHome/>
    <Footer/>
</div>
</template>

<script>
import Header from "../layout/Header.vue";
import PageHome from "../components/PageHome.vue";
import Footer from "../layout/Footer.vue";
export default {
  components: { Header, PageHome, Footer },
};
</script>

<style>
</style>