* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global */

h2 {
    font-size: 36px;
    font-weight: 500;
}

h4 {
    font-size: 18px;
}

img {
    max-width: 100%;
}

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

i {
    cursor: pointer;
}

.btn {
    border-radius: 3px;
    padding: 20px 45px;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid var(--cl-btn);
    cursor: pointer;
}

.btn-red {
    background-color: var(--cl-btn);
    transition: all 0.4s;
}

.btn-red:hover {
    background-color: #fff;
    color: var(--cl-btn-hv);
    border: 1px solid #fff;
}

.flex {
    display: flex;
}

.justify-content {
    justify-content: center;
}

.text-align {
    text-align: center;
}

.center {
    align-items: center;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.px-1 {
    padding-left: 15px;
    padding-right: 15px;
}

.px-2 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.mg-bt {
    margin-bottom: 45px;
}
.mg-1{
    margin-top: 15px;
    margin-bottom: 15px;
}

/* ccs main */

header {
    background-color: #fff;
}

.nav {
    justify-content: space-between;
}

.nav-item {
    margin-left: 15px;
}

.nav-link {
    display: inline-block;
    color: var(--text-main);
    font-weight: 500;
    text-transform: uppercase;
}

.nav-link:hover {
    box-shadow: 0 0 5px black;
}

.icon-top i {
    font-size: 18px;
    color: var(--text-main);
    padding: 10px;
}

/* section-introduce */

.section-introduce {
    background-image: url('./assets/images/bg-1.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.image img {
    max-width: 100%;
}

.title p {
    letter-spacing: 2.8px;
}

/* section product */

.panel {
    position: relative;
}

.product .container .row .panel span {
    display: block;
}

.product h2 {
    margin-bottom: 40px;
}

.container .row .panel img, .container .row .panel span, .container .row .panel h4, .container .row .panel a {
    margin-bottom: 15px;
}

.row .panel span i {
    color: var(--cl-btn);
}

.icon-smooth {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.7s;
    opacity: 0;
    display: flex;
}

.icon-smooth i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    background-color: #fff;
    transition: all 0.6s;
    border-radius: 40px;
}
.panel img{
    border-radius: 5px;
}
.row .panel:hover>img{
    box-shadow: 0 0 10px black;
    transition: all 1s;
}
.row .panel:hover>.icon-smooth {
    bottom: 40%;
    opacity: 1;
}

.icon-smooth i:hover {
    background-color: var(--cl-btn);
    color: #fff;
}

.panel a {
    color: var(--text-cover);
}

/* section-introduce sale */

.sale {
    background: var(--bg-sale);
}

.sale .container .row h1 {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}
/* figure */
.great i{
    font-size: 40px;
    color: var(--cl-btn);
    margin-top: 20px;
}
.great i ,.great p,.great h4{
    margin-bottom: 20px;
}
.great p{
    color: var(--text-cover);
}
.great{
    border: 1px dotted var(--text-cover);
}
/* follow us */
.follow img{
    margin-bottom: 0px !important;
    border-radius: 0;
}

.bg-red{
    height: 100%;
    width: 100%;
    cursor: pointer;
    position: absolute;
    top:0;
    left: 0;
}

.red{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 80%;
    width: calc(100% - 30px);
    background-color: var(--cl-btn);
    transition: all 0.6s;
    opacity: 0;
}
.bg-red:hover>.red{
    height: 100%;
    opacity: 0.6;
}
.bg-red-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    color: #fff;
    opacity: 0;
    transition: all 1s;
}
.bg-red:hover>.bg-red-icon{
    opacity: 1;
}
/* footer */
footer{
    background-color: var(--bg-sale);
}
footer h4{
    margin-bottom: 25px;
}
footer a{
    margin-bottom: 10px;
    display: block;
    color: var(--text-cover);
}
footer a:hover{
    color: var(--cl-btn);
}
.copyright{
    padding: 20px 0;
    border-top :1px dotted var(--cl-btn-hv);
    color: var(--text-cover);
}
.copyright p a{
    display: inline-block;
    color: var(--cl-btn);
}
.icon-bottom i{
    width: 30px;
    height: 30px;
    background-color: #fff;
    margin-right: 10px;
    text-align: center;
    line-height: 30px;
    transition: all 0.4s;
}
.icon-bottom i:hover{
    background-color: var(--cl-btn);
    color: #fff;
}



/* animation */
.title,.logo,.icon-top,.menu,.image{
    opacity: 0;
}
.title{
    animation: left-to-right 1s forwards;
    animation-delay: 1s;
}
.logo,.icon-top{
    animation: scale 1s forwards;
    animation-delay: 0.4s;
}
.icon-top{
    animation-delay: 2s;
}
.menu,.image,.left-right{
    animation: right-to-left 1s forwards;
}
.right-left{
    animation: left-to-right 1s forwards;
}
@keyframes left-to-right {
    0%{
        transform: translateX(-50%);opacity: 0;
    }
    100%{
        transform: translateX(0);opacity: 1;
    }
}
@keyframes right-to-left {
    0%{
        transform: translateX(50%);opacity: 0;
    }
    100%{
        transform: translateX(0);opacity: 1;
    }
}
@keyframes scale {
    0%{
        transform: scale(2);opacity: 0;
    }
    100%{
        transform: scale(1);opacity: 1;
    }
}
.swing{
    animation: swing 1s;
}