@media (min-width: 375px) {
    .container {
        max-width: 340px;
    }
    .section-introduce{
        padding-top: 60px;
    }
    .section-introduce .container .row {
        flex-direction: column-reverse;
    }
    h1 {
        font-size: 40px;
    }
    .title {
        padding: 40px 0;
    }
    .col-sm-12 {
        width: 100%;
    }
    .nav {
        height: 82px;
    }
    header{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }
    .menu {
        position: fixed;
        top: 80px;
        min-width: 80%;
        transition: all 0.5s;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        z-index: 10000;
    }
    .nav-list {
        flex-direction: column;
        align-items: flex-start;
        display: block;
        width: 100%;
    }
    .nav-link {
        padding: 10px 20px;
        display: block;
    }
    .menu-out {
        opacity: 1;
        visibility: visible;
        top: 60px;
    }
    /* product */
    .container .row {
        flex-wrap: wrap;
    }
    .most {
        padding-left: 40px;
        padding-right: 40px;
    }
    /* follow us */
    .follow {
        margin-bottom: 20px ;
    }
    .red{
        width: calc(100% - 80px);
    }
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .container {
        max-width: 530px;
    }
    .
    .panel {
        padding-left: 80px;
        padding-right: 80px;
    }
    .most {
        padding-left: 140px;
        padding-right: 140px;
    }
    .red{
        width: calc(100% - 280px);
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .section-introduce{
        padding-top: 60px;
    }
    .section-introduce .container .row {
        flex-direction: row;
    }
    .title {
        padding: 0;
    }
    
    .panel {
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .col-sm-4 {
        width: 33.3333%;
    }
    
    .col-sm-6{
        width: 50%;
    }
    .container .row {
        flex-wrap: wrap;
    }
    .red{
        width: calc(100% - 100px);
    }
    
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .container {
        max-width: 940px;
    }
    h1 {
        font-size: 58px;
        font-weight: 500;
    }
    #menu-toggle {
        display: none;
    }
    .nav {
        height: 90px;
    }
    header{
        position: relative;
       
    }
    .section-introduce{
        padding-top: 0px;
    }
    .menu {
        position: static;
        top: 0;
        min-width: inherit;
        transition: all 0.5s;
        background-color: #fff;
        opacity: 1;
        visibility: visible;
    }
    .nav-list {
        flex-direction: row;
        align-items: flex-start;
        display: flex;
        width: inherit;
    }
    .nav-link {
        padding: 5px 10px;
        display: block;
    }
    .col-sm-3{
        width: 25%;
    }
    .panel {
        padding-left: 15px;
        padding-right: 15px;
    }
    .red{
        width: calc(100% - 30px);
    }
}

/* Extra large devices (large desktops, 1200px and up) */