<template>
        <footer>
        <div class="container">
            <div class="row flex px-2">
                <div class="col-sm-3 align-item px-1 col-sm-6 col-sm-12 px-1">
                    <h4>STORE</h4>
                    <a href="#">Loading...</a>
                    <a href="#">Loading...</a>
                    <a href="#">Loading...</a>
                    <a href="#">Loading...</a>
                    <a href="#">Loading...</a>
                    <a href="#">Loading...</a>
                </div>
                <div class="col-sm-3 align-item px-1 col-sm-6 col-sm-12 px-1">
                    <h4>LIÊN KẾT</h4>
                    <a href="#">Loading...</a>
                    <a href="#">Loading...</a>
                    <a href="#">Loading...</a>
                    <a href="#">Loading...</a>
                    <a href="#">Loading...</a>
                    <a href="#">Loading...</a>
                </div>
                <div class="col-sm-3 align-item px-1 col-sm-6 col-sm-12 px-1">
                    <h4>ONLINE</h4>
                    <a href="#">Loading...</a>
                    <a href="#">Loading...</a>
                    <a href="#">Loading...</a>
                    <a href="#">Loading...</a>
                    <a href="#">Loading...</a>
                    <a href="#">Loading...</a>
                </div>
                <div class="col-sm-3 align-item px-1 col-sm-6 col-sm-12 px-1">
                    <h4>TRẢI NGHIỆM ỨNG DỤNG TRÊN DI ĐỘNG</h4>
                    <a href="#" style="display: inline-block;width: 100px;"><img src="../assets/images/android.png" alt=""></a>
                    <a href="#" style="display: inline-block;width: 100px;"><img src="../assets/images/apple.png" alt=""></a>
                    <hr>
                    <h4>MUA SẮM TRỰC TUYẾN</h4>
                    <div class="flex icon-bottom">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-pinterest-p"></i>
                        <i class="fas fa-camera-retro"></i>
                    </div>
                </div>
            </div>
            <div class="row text-align copyright">
                <p>ĐỖ MINH HOÀNG</p>
                <div id="date"></div>
            </div>
        </div>
    </footer>
</template>