<template>
   <header>
        <div class="nav container flex center px-1">
            <div class="logo"><a href="#"><img src="../assets/images/logoqd.jpg" alt=""></a></div>
            <div class="menu">
                <ul class="nav-list flex center">
                    <li class="nav-item"><a href="#" class="nav-link">Trang chủ&nbsp;<i class="fas fa-angle-down"></i></a>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">GIỚI THIỆU</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">CỬA HÀNG</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">SẢN PHẨM&nbsp;<i class="fas fa-angle-down"></i></a></li>
                    <li class="nav-item"><a href="#" class="nav-link">THÔNG TIN</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">LIÊN HỆ</a></li>
                </ul>
            </div>
            <div class="icon-top flex">
                <!-- <form action="search" class="search-top flex">
                    <input type="text" class="search">as
                    <button class="btn-search">search</button>
                </form> -->
                <span id="menu-toggle"><i class="fas fa-bars"></i></span>
                <a href="#"><i class="fas fa-search"></i></a>
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                <a href="#"><i class="far fa-user"></i></a>
            </div>
        </div>
    </header>
</template>

<script>
export default {

}
</script>

<style>

</style>